.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--bg-color);
  border: 2px solid var(--font-color);
  padding: 1rem;
  z-index: 999;
  display: none;
  font-size: 0;

  &.scroll-to-top-button--visible {
    display: block;
  }
}
