.countries {
  padding: 2rem 0;

  .countries__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    align-items: start;

    & > li {
      width: fit-content;
    }
  }

  .countries__count {
    margin-bottom: 1rem;

    & > strong {
      font-weight: 700;
    }
  }
}

.countries__link {
  display: inline-block;
  &:focus-visible {
    outline: 2px solid var(--font-color);
    outline-offset: 4px;
  }
}

.countries__button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 2px solid var(--font-color);
  margin-top: 2rem;

  &:hover {
    background-color: var(--bg-color);
  }
}
