.notFound {
  text-align: center;

  .notFound__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .notFound__button {
    border: 2px solid var(--bg-color);
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: color-mix(in srgb, var(--bg-color) 50%, transparent);
    }
  }
}
